APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:vjR5CeaGRZLYE9Bz2WDesj614uItzIM0ipiOVNAQYIs=
APP_TIMEZONE=Asia/Jakarta
API_PREFIX=api

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=checklist
DB_USERNAME=root
DB_PASSWORD=farid123

CACHE_DRIVER=file
QUEUE_DRIVER=sync

JWT_SECRET=zbCXIOA0l1fScdKdL3PTou9fJcnMWweAMxUg3kOlgmS4r3rReWDRzi0hYqgeFbYW
